/* ---------- GENERAL --------------- */

body {
  font-family: 'Roboto', sans-serif;
}

/* ///////////////////////////////////////////////////////// */

/* ---------- BEGIN app.js ---------- */

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #656565;
}

/* ---------- END app.js ---------- */

/* ---------- BEGIN navbar.js ---------- */

.navbar_container {
  display: flex;
  background-color: rgb(66, 66, 66);
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.search_container {
  display: flex;
  flex-direction: row;
}

#searchField {
  display: flex;
  height: 5vh;
  width: 30vw;
}

.navbar_search_btn {
  display: flex;
  height: 5.85vh;
  width: 3.5vw;
  cursor: pointer;

  color: white;
}

.search_method {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 80%;
  justify-content: space-evenly;
}

/* ---------- END navbar.js ---------- */

/* ---------- BEGIN main.js ---------- */

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #656565;
  width: 100vw;
  height: 90vh;
  margin-left: 0px;
}

.regroupBlocs {
  display: flex;
  flex-direction: column;
}

.textBlocs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 85%;
}

.mdBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 95%;
}

.htmlBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 95%;
}

.textEditors {
  width: 100%;
  height: 90%;
  background-color: #3d3d3d;
  color: #c4c4c4;
  border: none;
}

.editorButtons {
  background-color: #3d3d3d;
  color: #c4c4c4;
  border: none;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 15%;
}

/* ---------- END main.js ---------- */

/* ---------- BEGIN NavTool.js ----- */
.titleTool {
  padding-left: 0.5em;
  border: 1px solid #1f1f20;
  color: #1f1f20;
}

.navTool {
  width: 20%;
  height: 90vh;
  background-color: #8d8c8c;
  color: #222;
}

.titleTool {
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  text-align: center;
}

.accordion {
  margin-left: 1em;
}

.accordion section button {
  width: 92%;
  display: none;
  text-align: left;
  margin-left: 1.5em;
  background: transparent;
  border-color: transparent;
  color: rgb(70, 71, 80);
  cursor: pointer;
  transition: 0.3s;
}

.accordion section a {
  color: rgb(41, 41, 46);
  text-decoration: none;
}

.accordion section a:hover {
  text-decoration: underline;
}

.accordion section:target button {
  /* margin-left: 12em; */
  display: block;
}

/* ---------- END NavTool.js --------- */

/* ---------- BEGIN Footer.jsx --------- */
.all-counters {
  text-align: center;
  color: rgb(196, 196, 196)
}