/* ---------- BEGIN app.js ---------- */

.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #656565;
}

/* ---------- END app.js ---------- */

/* ---------- BEGIN main.js ---------- */

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #656565;
  width: 100vw;
  height: 80vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 0px;
}
.textBlocs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
}
.mdBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 95%;
}
.htmlBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
  height: 95%;
}
.textEditors {
  width: 100%;
  height: 90%;
  background-color: #3D3D3D;
  color: #C4C4C4;
  border: none;
}
.editorButtons {
  background-color: #3D3D3D;
  color: #C4C4C4;
  border: none;
}

/* ---------- END main.js ---------- */